// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .jumbotron {
//   background-color: #dea7a7;
// }


h1 {
  padding-top: 200px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: #2F4F4F;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

#btn-group {
  align-items: center;
}

#cf {
  display: block;
  margin: auto;
  width: 50%;

}
